<div>
    <button class="btn btn-success btn-outline cms-btn btn-xs" ng-click="scan();">
        Scan
    </button>
    <button class="btn btn-success btn-outline cms-btn btn-xs" ng-click="autoScan();">
        AutoScan
    </button>
    <br>
    <p class="text-success">
        {{quality}}
        <span class="label label-xs label-success" ng-repeat="e in iEmployees">{{e.name}}</span>
    </p>

    <img data-ng-src="data:image/JPG;base64,{{image}}">

    <div class="form-group">
        <label>Firma auswählen:</label>
        <ui-select data-ng-model="data.company" theme="bootstrap" >
            <ui-select-match placeholder="Choose company">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices data-repeat="item in companies">{{item.name}}</ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group" ng-if="data.company">
        <label>Mitarbeiter auswählen:</label>
        <ui-select data-ng-model="data.employee" theme="bootstrap">
            <ui-select-match placeholder="Choose Mitarbeiter">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices data-repeat="item in employees">{{item.name}}</ui-select-choices>
        </ui-select>
    </div>

    <div ng-if="data.company">
        <button ng-click="enroll(data.employee)">Enroll</button>
    </div>

</div>
