<div class="panel panel-default panel-xs shadow" style="margin-bottom: 10px;">
    <div class="panel-body" style="padding: 5px;min-height: 120px" ng-class="{'bg-info': false}">
        <span class="text-primary" style="font-weight: bold" ng-click="formService.edit(record._id, 'EmployeeRecord')">
            {{model.name}} <span ng-if="model.Id" class="text-muted">({{model.Id}})</span>
        </span>

        <span class="label label-success pull-right">{{model.position}}</span>
        <span class="label label-danger pull-right" style="margin-right: 3px;" ng-init="isWorking = fn.isWorking()">{{isWorking}}</span>

        <hr>
        <span ng-repeat="work in model.work">
            <span class="text-violet">
                {{work.company.name}}
                <span ng-if="profile.workType">({{profile.workType.charAt(0)}})</span>
            </span>
            &nbsp;&nbsp;
        </span>

        <br>

        <div ng-repeat="different in differents">
            <span class="text-violet">Monate: {{ different.month }}, Soll: {{ different.maxHour || '___'}}, Differenz: {{ different.quantity }}</span>
        </div>



    </div>
</div>
