<h4>Report</h4>

<form ng-submit="report()" novalidate class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12">Firma auswählen:</label>
        <div class="col-sm-12">
            <ui-select data-ng-model="data.company" on-select="onSelect()" theme="bootstrap">
                <ui-select-match placeholder="Choose company">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices
                        data-repeat="item._id as item in companyList | filterBy: ['name']: $select.search">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-6">
            <label>From:</label><input type="date" class="form-control" ng-model="data.from"/>
        </div>
        <div class="col-sm-6">
            <label>To:</label><input type="date" class="form-control" ng-model="data.to"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary" type="submit">Calculate</button>
        </div>
    </div>
</form>


<br><br>

<div class="row">
    <div class="col-md-6">
        <div ng-repeat="employee in employees"
             ng-click="data.employee = employee;"
             class="panel panel-default" style="margin-bottom: 10px;cursor: pointer">
            <div class="panel-body" ng-class="{'bg-info': data.employee === employee}">
                <span class="text-primary">{{employee.name}} : {{employee.total}} hours, forget logout in day:</span>
                <span class="text-info" ng-repeat="forget in employee.forgetLogOut">{{forget.time | date:'dd-MM'}},</span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default" ng-if="data.employee">
            <div class="panel-body">
                <div>
                    <p class="text-primary">
                        {{data.employee.name}} :
                    </p>
                    <div ng-repeat="day in data.employee.list">
                        <div ng-repeat="group in day">
                            Date: {{group[0].time | date:'dd-MM'}} , checkin : {{group[0].time | date:'HH:mm'}},
                            checkout :
                            {{group[1].time | date:'HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



